apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "http://127.0.0.1:9200"
      "aws_access_key": "",
      "aws_assume_role_arn": "",
      "aws_assume_role_external_id": "",
      "aws_profile": "",
      "aws_region": "",
      "aws_secret_key": "",
      "aws_signature_service": "",
      "aws_token": "",
      "cacert_file": "",
      "client_cert_path": "",
      "client_key_path": "",
      "healthcheck": true,
      "host_override": "",
      "insecure": false,
      "opensearch_version": "",
      "password": "t0ps3cr3t11"
      "proxy": "",
      "sign_aws_requests": false,
      "sniff": false,
      "token": "",
      "token_name": "",
      "username": "admin",
      "version_ping_timeout": 30
    }
